node_modules
.env
.env.template
dist
logs
.qodo
.prettierrc
credentials.csv
eslint.config.js
jest.config.js
tsconfig.json
nodemon.json
package-lock.json
package.json
.gitignore
mongodb
mongodb-test
postgresql
postgresql-test
